.custom-container {
  text-align: center;
  overflow: hidden;
}
.wineyardHeader {
  height: 100vh;
  width: auto;
  position: relative;
  overflow: hidden;
}
.baravinLogo {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 10rem;
}
.header-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  letter-spacing: 1px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #640606;
}
.info-text p {
  max-width: 500px;
}
.custom-button {
  text-decoration: none;
}

@media (min-width: 1280px) {
  .wineyardHeader {
    height: 100vh;
    width: 100%;
  }
  .baravinLogo {
    width: 12rem;
  }
}
