.custom-container {
  margin: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
  background-color: #f3ecec;
  min-height: 100vh;
  color: #420505;
}

#wineyardHeader {
  width: 100vw;
  position: relative;
}

#baravinLogo {
  position: fixed;
  width: 5rem;
  z-index: 1;
  left: 50%;
  transform: translate(-50%);
  margin-top: 1rem;
}

@media (max-width: 600px) {
  #wineyardHeader {
    height: 100vh;
    width: auto;
    overflow: hidden;
  }
}
