.userpage {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 100vw;
  min-height: 40vh;
  margin: 0 auto;
  padding: 1rem;
}

.profile-section,
.orders-section {
  padding: 0 2rem;
  overflow-x: auto;
}

.user-header {
  text-align: start;
  font-size: 2.4rem;
  margin: 3rem;
}

.user-table,
.orders-table {
  width: 100%;
  border: 2px solid #ddd;
  background-color: #fff;
  border-collapse: collapse;
}

.user-tableheader {
  padding: 0.6rem;
  font-weight: 550;
}
.user-tablevalue {
  padding: 0.6rem;
}

.orders-table th,
.orders-table td {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

/* Button row */
.user-buttonrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 3rem auto;
}

button {
  display: inline-block;
  padding: 12px 32px;
  border: 1px solid #222;
  background-color: #fff;
  color: #222;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  width: 200px;
}

button:hover {
  background-color: #222222;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1038px) {
  .userpage {
    grid-template-columns: 70% 25%;
    grid-template-rows: auto;
    align-items: start;
  }
  .user-buttonrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 3rem auto;
  }
}
