.admin-modal-overlay {
  position: fixed;
  margin-left: 300px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.modal {
  background: white;
  padding: 2rem;
  max-width: 90%;
  overflow-y: auto;
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal h3 {
  margin-top: 1rem;
}

select {
  width: 50%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
}

.modal-bottle-card button {
  margin-top: 1rem;
}

.modal-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.icon-modal-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border: 1px solid #000;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.add-region-modal label {
  display: block;
  margin: 0.5rem 0;
}

.add-region-modal input,
.add-region-modal textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
}

.add-winery-form input {
  margin-bottom: 0.5rem;
}

.winery-list {
  margin: 0.5rem 0 1rem;
  padding-left: 1.2rem;
}

.winery-list li {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}
.remove-winery-btn {
  padding-left: 1rem;
  cursor: pointer;
  text-decoration: underline;
  color: #5a1a1a;
}
.blob-image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 10px;
}
.blob-thumbnail {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
}
.thumbnail:hover {
  transform: scale(1.05);
}
