.form-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  min-height: 60vh;
}

h2 {
  text-align: center;
  font-size: 1.6rem;
}

fieldset {
  border: 1px solid #ddd;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  background: #f3ecec;
}

legend {
  font-weight: bold;
  font-size: 1.1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #640606;
  outline: none;
}

.form-row {
  display: flex;
  gap: 2rem;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: #000;
}

.submit-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit-row p {
  margin-top: 0.6rem;
}

.submit-btn {
  margin-top: 2.6rem;
}

.error {
  color: #640606;
  font-size: 0.9rem;
  margin: 0;
  padding: 0.8rem 0;
}

input[type="checkbox"]:checked {
  color: #640606;
}

/* Modal */
.modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal {
  background: #fff;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  max-height: 60vh;
  position: relative;
  overflow-y: scroll;
}

.modal h3 {
  margin-top: 0;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.9rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.password-dropdown {
  max-width: 400px;
  margin: 1rem auto;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
}

.password-dropdown.open {
  max-height: 600px;
  opacity: 1;
  margin-top: 1rem;
  padding: 3rem;
  border: 1px solid #ddd;
}

.dropdown-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
