.empty-cart {
  text-align: center;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #555;
  min-height: 60vh;
}

.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
  min-height: 70vh;
}

.cart-title {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: 3rem 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cart-item-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-item-name {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}

.cart-item-sub {
  font-size: 0.9rem;
  color: #666;
}

.cart-item-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-item-price {
  font-weight: bold;
  letter-spacing: 1px;
}

.remove-btn {
  background: transparent;
  border: none;
  color: #88232b;
  cursor: pointer;
  font-size: 1.2rem;
}

.remove-btn:hover {
  color: #511419;
}

.cart-summary {
  margin-top: 2rem;
  padding: 1.5rem;
  background: #f9fafb;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.summary-row.discount {
  color: #2a6939;
  font-weight: 600;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.checkout-btn {
  margin-top: 1.4rem;
  width: 100%;
  background-color: #f9fafb;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 6px;
}

.quantity-btn {
  padding: 4px 6px;
  cursor: pointer;
}

.discount-input-row {
  display: flex;
  align-items: center;
  max-width: 70%;
  gap: 1rem;
}

.discount-input-row input {
  padding: 9px 10px;
  border: 1px solid #000;
}

.discount-tag {
  display: inline-flex;
  align-items: center;
  background: #f0f0f0;
  padding: 4px 10px;
  letter-spacing: 1px;
}

.remove-discount {
  background: transparent;
  border: none;
  margin-left: 6px;
  font-size: 14px;
  cursor: pointer;
}

.error-text {
  color: rgb(150, 11, 11);
  font-size: 14px;
}
