body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #632929;
  padding: 20px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.footer {
  background-color: #632929;
  padding: 30px;
  color: white;
  text-align: center;
  margin-top: auto;
}

.footer .footer-link {
  margin-bottom: 2rem;
}

.footer li a,
.footer li {
  list-style: none;
  text-decoration: none;
  color: #fff;
  margin-top: 5px;
}

.footer p {
  margin-top: 2.5rem;
}
