.dashboard-bottom {
  display: flex;
  gap: 2rem;
}

.recent-orders,
.top-products {
  flex: 1;
}

.subtitle {
  font-size: 1rem;
}

h1,
h3 {
  color: #661a26;
}

@media (max-width: 900px) {
  .dashboard-bottom {
    flex-direction: column;
  }
}
